/* Container for Visualizations */
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#center-component {
  display: flex;
  width: 100%;
  /*height: 100%;*/
  flex-direction: column;
  align-items: baseline;
  background-color: #dddddd;
}

/* Visualization Interactive Controls */
#filters-component {
  background-color: #387c6d;
  width: 400px;
  color: #FFF;
  padding: 10px;
  margin-right: 5px;
  padding-right: 40px;
  padding-left: 40px;

}

/*
#map-settings {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
} */

#vis-map-1 {
  width: 100%;
}

#vis-map-2 {
  width: 100%;
}

#vis-network {
  width: 100%;
  /*height: 100%;*/
}

#container-table-terminals {
  background-color: #f8f5f1;
  width: 100%;
  color: #343f56;
  padding: 10px;
}

#detail-pane {
  background-color: #e9896a;
  width: 400px;
  color: #FFF;
  padding: 10px;
  margin-left: 5px;
}

/* Style for selected marks (circles) */
circle.node-terminal-facility.selected {
  fill: pink;
  stroke: red;
  opacity: .5;
}

/* Leaflet Map Legend*/
.legend {
  line-height: 18px;
  background-color: #eee;
  padding: 10px;
}

.legend p {
  margin: 1px
}

.legend .legend-item {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* Carrier h5, Carrier Name and Logos Flexbox */
#filters-carriers-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* Header/Label "Carriers" */
#filter-carrier {
  font-style: italic;
  text-align: center;
  font-size: 20pt;
  margin-top: 2px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0px;
}

.crop {
  width: auto;
  height: auto;
  overflow: hidden;
}

.crop img {
  width: 30px;
  height: 25px;
  margin: 0px 0 0 0px;
}

/* 
.carrier-selector.div > div { 
  flex: 50%;
  display:flex;
} */

/* Carrier Name + Logo */
.carrier-selector {
  outline: none;
  font-size: 12px;
  color: white;
  text-align: center;
  margin:0 0 5px 5px;
  width:20%;
  flex: 50%; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: #68AB9A 1px dotted;
  flex: 1 1 25px;
}


/* Style for selected marks (table rows, filters) */
.selected {
  background-color: #68AB9A;
}

/* Recreate the D3 brush style... */
.mouseover {
  background-color: #68AB9A;
}

/* ...but add a darker selected and brushed color. */
.mouseover.selected{
  background-color: #7FD0BC;
}

.point-terminal-facility {
  stroke: blue;
  fill: red
}
/*path {*/
/*  stroke: white;*/
/*  stroke-width: .25px;*/
/*  fill: grey;*/
/*}*/

.port-names {
  font-size: small;
}

text.label {
  font-family: sans-serif;
  font-size: 12px;
}

/* Table formatting */
table {
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-size: 10pt;
}

tr {
  font-size: 10pt;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for selected marks (table rows) */
tr.selected {
  background-color: pink;
}

/* Recreate the D3 brush style... */
tr.mouseover {
  background-color: #d6d6d6;
}

/* ...but add a darker selected and brushed color. */
tr.mouseover.selected{
  background-color: #e08fa3;
}

/* Don't also do text drag selection */
table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

/* The following are required from the project template https://github.com/NEU-CS-7250-S21-Staff/Project */
/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
  sans-serif;
}

h1, h2, h3 {
  line-height: 1.2
}

h4 {
  margin-bottom: 1px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

/* Your text should be in a nice narrow column */
.content-column {
  max-width: 650px;
  margin: 40px auto;
}

/* Visualization is full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
}

.vis-svg {
  background-color: #f4f1f0;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub a {
  background: #00F;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 1.4rem;
  position: relative;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #118;
  color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 1000px) {
  #forkongithub {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}