#filters-vessels {
  /* background-color: #f8f5f1; */
  width: 100%;
  /* color: #343f56; */
  /*padding: 10px;*/
  /*margin-right: 10px;*/
}

/* Table formatting */
/* table { */
  /* text-align: left;
  font-size: 10px;
  border-collapse: separate;
  border-spacing: 0 0;
  margin: 0 auto; */

  /* !* vertical | horizontal *! */
  /*text-align: right;*/
/* } */

/* Don't also do text drag selection */
table.text-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

th, td {
  /*background-color: #f2f2f2;*/
  font-size: 9pt;
  /* padding: 0 8px; */
}

/*tr {*/
/*  font-size: 10pt;*/
/*}*/

/* tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* Style for selected marks (table rows) */
tr.selected {
  background-color: pink;
}

/* Recreate the D3 brush style... */
tr.mouseover {
  background-color: #d6d6d6;
}

/* ...but add a darker selected and brushed color. */
tr.mouseover.selected {
  background-color: #e08fa3;
}

tr.hidden {
  visibility: hidden;
}

tr.visible {
  visibility: visible;
}