#vis-map {
  width: 100%;
}

circle.point-terminal-facility {
  stroke: #616161;
  stroke-width: 2;
  fill: white;
}

circle.point-terminal-facility.mouseover {
  fill: red;
  /*stroke: red;*/
  /*opacity: .5;*/
}

circle.point-terminal-facility.selected {
  fill: pink;
  stroke: red;
  opacity: .5;
}

text.point-terminal-facility-label {
  font-family: sans-serif;
  font-size: 12px;
  fill: black;
}

div.point-terminal-selector-tooltip {
  position: absolute;
  display: none;
  min-width: 30px;
  max-width: 900px;
  border-radius: 4px;
  height: auto;
  background: rgba(250,250,250, 0.9);
  border: 1px solid #DDD;
  padding: 4px 8px;
  font-size: .85rem;
  text-align: left;
  z-index: 1000;

  /* position: absolute;*/
  /*background-color: white;*/
  /*max-width: 100px;*/
  /*height: auto;*/
  /*padding: 1px;*/
  /*border-style: solid;*/
  /*border-radius: 4px;*/
  /*border-width: 1px;*/
  /*box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);*/
  /*pointer-events: none;*/
}

path.link-edge-searoute {
  opacity: 0;
}

path.link-edge-searoute.selected {
  stroke: red;
  fill: none;
  opacity: 1;
}

/* Leaflet Map Legend*/
.legend {
  line-height: 18px;
  background-color: #eee;
  padding: 10px;
}

.legend p {
  margin: 1px
}

.legend .legend-item {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



/*path.vessel-trajectory.leaflet-interactive {*/
/*  opacity: 0;*/
/*}*/

/*path.vessel-trajectory.leaflet-interactive.selected {*/
/*  opacity: 1;*/
/*}*/

/*path.vessel-trajectory {*/
/*  opacity: 0;*/
/*}*/

/*path.vessel-trajectory.selected {*/
/*  opacity: 1;*/
/*}*/

.leaflet-interactive.vessel-trajectory {
  opacity: 0;
}

.leaflet-interactive.vessel-trajectory.selected {
  opacity: 1;
}